[submodule "nathaly0404/Submodule"]
	path = nathaly0404/Submodule
	url = git@github.com:nathaly0404/Submodule.git
	branch = master

[submodule "nathaly0404/Localizacion_prueba"]
	path = nathaly0404/Localizacion_prueba
	url = git@github.com:nathaly0404/Localizacion_prueba.git
	branch = master

[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 8.0

[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 13.0
